*{
    font-family:Verdana, sans-serif;
}

.header {
  width: 100%;
  padding-left: 50px;
  display: flex;
}

.my-photo {
  width: 20%;
}

.my-photo img {
  width: 100%;
  border-radius: 50%;
}

h5 {
  margin: 5px 0;
}

.header-content {
  width: 60%;
  margin: 20px;
}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies,
.skills {
  display: none;
  margin-top: 20px;
  border-radius: 10px;
  background-color: beige;
}

.experience-content,
.studies-content,
.skills-content {
  margin: 40px 0;
}

.social-links {
  background-color: beige;
  padding: 10px;
}

.social-button {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  color: mediumblue;
}

.active {
  display: block;
  padding: 10px;
}
